# Ignore all
/*
/.**

## Secrets
/.config/gh/**
/.config/github-copilot/**

## bash
!/.bashenv
!/.config/bash
!/.config/bash/**


## neovim
/.config/nvim/plugin/**
!/.config/nvim
!/.config/nvim/**


## wezterm
/.config/wezterm/local.lua


# global #
!/.README.md
!/.gitignore
!/install.sh
