# Ignore all
/*
/.**

## Secrets
/.config/gh/**
/.config/github-copilot/**

## bash
!/.bashenv
!/.config/bash
!/.config/bash/**

### zsh
!/.zshenv
!/zsh/*
!/zsh/.zshenv
!/zsh/rc/**

### starship
!/.config/starship.toml

## brew-file
!/.config/Brewfile
!/.config/Brewfile/**

## git

!/.config/git
/.config/gh/**
!/.config/gh/config.yml

## github
!/.github
/.github/workflows/**

## neovim
!/.config/nvim
!/.config/nvim/**
!/.config/nvim/lua/**
!/.config/nvim/lua/rc/**
!/.config/nvim/lua/rc/pluginconfig/**

## library

!/.config/lazygit/**

## stylelint

!/stylua.toml

## skk
!/.config/skk
!/.config/skk/**

## wezterm
/.config/wezterm/local.lua


# global #
!/.README.md
!/.gitignore
!/install.sh
!/install_scripts/
!/install_scripts/**
